
body{margin:0}

body {
	font-family: Open Sans, Muli, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.6em;
	color: #5d5d62;
	background-color: #ecf0f1;
	
}

img {
	max-width: 100%;
	height: auto;
	/* Removes extra space for descenders below non-display: block images
		http://stackoverflow.com/questions/7774814/remove-white-space-below-image */
	vertical-align: bottom;
}

a:link{
	text-decoration: none
}

/*
	Typography
*/

/* Reset heading elements; don't use them as style selectors */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: normal;
}


/*
	Header, Footer, Nav
*/

.site-header{
	background-color: #fff;
}

.header-logo {
	width: 255px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo .site-logo {
  height: 90px;
}

.header-nav {
	padding: 25px 20px;
}

.header-nav ul {
	display: table;
	width: 100%;
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header-nav .nav-item {
	font-family: Muli, Open Sans, Helvetica, Arial, sans-serif;
	display: table-cell;
  text-transform: uppercase;
  font-size: 1.3rem;
  min-width: 40px;
}

.header-nav .nav-link {
	color: #252528;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
	color: #ff7365;
	text-decoration: none;
}



.name {
	font-family: Open Sans, Muli, Helvetica, Arial, sans-serif;
	font-weight: lower;
	font-size: 1.8rem;
	background-color: #ecf0f1;
		max-width: 170px;

}

