/* Only including theme classes actually used in the site */
.w3-theme-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-d5 {color:#fff !important; background-color:#004a43 !important}